@font-face {
    font-family: 'titleFont';
    src: url('./fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'bodyFont';
    src: url('./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

/* === RESET / BASE === */
*, *::before, *::after {
    box-sizing: border-box; 
    /* Com border-box, o padding fica dentro da borda. O que você define é o tamanho final, sem surpresas. */
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E293B;
    border: 10px solid #334155;
    color: #E2E8F0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'bodyFont', sans-serif;
    font-size: 1rem;
}

.page-header {
    display: grid;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.page-header-logo {
    max-width: 200px;
}

.page-main {
    margin: 2vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-label {
    font-family: 'bodyFont', sans-serif;
    font-size: 0.9rem;
    color: #E2E8F0;
}

.form-label-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-link {
    font-size: 0.9rem;
    color: #E2E8F0;
    text-decoration: underline;
}

.form-link:hover {
    color: #ff7b72;
}

.form-input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    background-color: #334155;
    color: #E2E8F0;
    font-family: 'bodyFont', sans-serif;
    font-size: 1rem;
}

.form-input:focus {
    outline: none;
    border-color: #818CF8;
}

.form-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* espaço para o ícone olho (???). */
/* .form-input-wrapper .form-input {
    padding-right: 44px; 
} */

// CONFERIR ICONES DE EMAIL E CADEADO: saber quais atributos deve, permanecer nos selectores abaixo.
// E PRESTAR ATENCAO NO CSS QUANDO FOR DUPLICAR O ARQUIVO PARA FAZER FORM DE CREATION DE COMPTE E RECUPERATION DE MOT DE PASSE.

.form-icon-email {
    position: absolute;
    left: 16px;
    width: 20px;
    height: 20px;
    /* cursor: pointer; */
    background-image: url('./icons/icon-email.svg'); 
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

.form-icon-padlock {
    position: absolute;
    left: 16px;
    width: 20px;
    height: 20px;
    /* cursor: pointer; */
    background-image: url('./icons/icon-padlock-closed.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

#login-email .placeholder {
    left: 32px;
}

.form-icon-eye {
    position: absolute;
    right: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('./icons/icon-eye-hidden.svg'); 
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

.form-icon-eye:hover {
    opacity: 1;
}

.btn {
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'bodyFont', sans-serif;
    font-size: 1rem;
    transition: opacity 2s ease;
}

.btn:hover {
    opacity: 0.85;
    background-color: #818CF8;
}

.btn-primary {
    background-color: #ff7b72;
    color: #E2E8F0;
    width: 100%;
}

.page-footer-icon-lang {
    opacity: 0.6;
}

.page-footer-icon-lang:hover {
    opacity: 1;
}

.page-footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding: 16px 24px;
    margin: auto;
}

.page-footer-icon {
    width: 24px;
    height: 24px;
}

.footer-link {
    font-size: 0.9rem;
    color: #E2E8F0;
    text-decoration: underline;
}

.footer-link:hover {
    color: #ff7b72;
}

/* portables 767px maximun */
@media screen and (max-width: 767px) {
    body, input, button {
    font-size: 1rem;
    }
}

@media screen and (orientation: landscape) {
    .sidebar {
    display: none;
    }
}

@media screen and (min-resolution: 2dppx) {
    .page-header-logo {
    /* Se tiver versão @2x da logo: */
    /* content: url('./imgs/logo-gbo@2x.svg'); */
    }
}