body.page-login .page-header {
  margin-top: 12vh;
  margin-bottom: 12vh;
}

body.page-login .page-main {
  display: flex;
  justify-content: center;
}

body.page-login .form {
  width: 100%;
  max-width: 420px;
}

body.page-login .btn-primary {
  align-self: center;
}

/* portables 767px maximun */
@media screen and (max-width: 767px) {
  #login-box {
    width: 100%;
    border: none;
    padding: 16px;
  }
}


