@font-face {
  font-family: 'TitleFont';
  src: url('./fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
}

header {
  font-family: 'TitleFont', cursive;
  display: grid;
  justify-items: center;
  gap: 2em;
}

/* .login-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
} */

form {
  display: flexbox;
  flexbox-direction: column;
  max-width: 400 px;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.label-password {
  display: flexbox;
  flexbox-direction: row;
  justify-content: space-between;
}

.btn-login {
  background-color: #ff7b72;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
}

.line-or-line {
  display: flexbox;
  flex-direction: column;
  justify-content: space-between;
}
