@font-face {
  font-family: 'TitleFont';
  src: url('./fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
}

header {
  font-family: 'TitleFont', cursive;
  display: grid;
  justify-items: center;
  gap: 2em;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaço entre todos os elementos */
    width: 90%; /* Responsivo: 90% da largura da tela no mobile */
    max-width: 400px; /* Não deixa esticar demais em tablets */
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-login {
    background-color: #ff7b72;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
}