body.page-account .page-main {
    display: flex;
    justify-content: center;
}

body.page-account .form {
    width: 100%;
    max-width: 420px;
}

.profile-complet-name {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* portables 768px maximun */
/* @media screen and (max-width: 768px) {
    
} */

