body.page-login .page-main {
    display: flex;
    justify-content: center;
}

body.page-login .form {
    width: 100%;
    max-width: 420px;
}

/* portables 768px maximun */
/* @media screen and (max-width: 768px) {
    
} */